<h3>This is the projects template</h3>

<nav>
  {{link-to 'All Projects' 'projects'}} |
  {{link-to 'Create Project' 'projects.create'}}
</nav>

<ul>
  {{#each}}
    <li>{{link-to name 'project' this}}</li>
  {{/each}}
</ul>

{{outlet}}
